<!DOCTYPE html>
<html>
  <head>
    <title>TaskLabbit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <%= favicon_link_tag "vinyl-labbit.ico" %>
      <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

